.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
local.properties

.idea/
*.iml
.kotlin/
captures/

.externalNativeBuild/
.cxx/

*.apk
*.aab
*.aar
*.keystore
*.jks
keystore.properties

.DS_Store
Thumbs.db
